- form_for(@question, :html => {:multipart => true}) do |f|

  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:

      %ul
      - @question.errors.full_messages.each do |msg|
        %li= msg
  
  .question-field
    = f.text_field :text
    = f.check_box :comments_enabled
  .responses-field
    - f.fields_for :responses do |response_form|
      = response_form.text_field :text
      %br/

  = f.submit(:value => 'Ask')


